numpy>=1.26,<3
pandas>=2.2,<3
matplotlib>=3.9,<4
jupyter>=1,<2
scikit-learn>=1.6,<2
tensorflow-macos==2.16.2 ; sys_platform == "darwin" and platform_machine == "arm64"
tensorflow-metal>=1.1,<2 ; sys_platform == "darwin" and platform_machine == "arm64"
tensorflow>=2.16,<2.17 ; sys_platform != "darwin" or platform_machine != "arm64"
